# # Server
# PORT=5000
# NODE_ENV=production

# # JWT — demo keys

# JWT_SECRET=darcy_staffing_demo_secret_key_2024_abcd

# JWT_REFRESH_SECRET=darcy_refresh_demo_secret_key_2024_xyz

# JWT_EXPIRES_IN=15m

# JWT_REFRESH_EXPIRES_IN=7d

# # Stripe Test Mode
# STRIPE_SECRET_KEY=sk_test_51TdoOFR8nzkxwiTECinTF3LFei6syHHs667E5oQjzVsv9lTiuFkMrG4PP3m5Zwehj4TBDr0bthxWeAvU4apD6zls00KnWqh7lR

# STRIPE_WEBHOOK_SECRET=

# STRIPE_PD_PRICE_ID=price_1TgTotR8nzkxwiTEULKdoYXA

# STRIPE_LINEHAUL_PRICE_ID=price_1TgTynR8nzkxwiTEw8aflwtd

# # AWS S3 FREE TIER — https://aws.amazon.com/free
# # 5GB free storage — Sign up → IAM → Create User → S3 Access
# AWS_ACCESS_KEY_ID=paste_your_aws_access_key
# AWS_SECRET_ACCESS_KEY=paste_your_aws_secret_key
# AWS_REGION=us-east-1
# AWS_S3_BUCKET=darcy-staffing-docs

# # Firebase FREE PLAN — https://console.firebase.google.com
# # New Project → Settings → Service Accounts → Generate Key
# FIREBASE_PROJECT_ID=darcy-staffing
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\npaste_here\n-----END PRIVATE KEY-----\n"
# FIREBASE_CLIENT_EMAIL=firebase-adminsdk@darcy-staffing.iam.gserviceaccount.com

# # Email — Ethereal FREE (fake SMTP for testing, no real emails sent)
# # Auto generated — https://ethereal.email/create
# SMTP_HOST=smtp.ethereal.email
# SMTP_PORT=587
# SMTP_USER=paste_ethereal_username
# SMTP_PASS=paste_ethereal_password
# EMAIL_FROM="Darcy Staffing <noreply@darcystaffing.com>"

# # App
# FRONTEND_URL=http://localhost:5173
# ADMIN_EMAIL=admin@darcystaffing.com
# ADMIN_PASSWORD=Admin@123456
# SUPER_ADMIN_EMAIL=superadmin@darcystaffing.com
# SUPER_ADMIN_PASSWORD=SuperAdmin@123456